## Answers
####  Q1  -- Values - "hello", -87.8 , 6
####        Expressions -  * , - , /, +

#### Q2 - string is one type of data type in python. hence variable is an identifier to store a value in  the memory location . string is represented in single quotes or  double quotes. hence variable is represented by sequence of character including number and symbols with some rules. A variable can hold a string but string cant hold a variable.

example -  string_1 = "Yogesh Kumar"     

here inside a quotes is called string

variable_1 = 4                     

here we defined a variable is equal to 4 which can be used for further

#### Q3 - Three Different data types - 
1)  String: A string value is a collection of one or more characters put in single, double or triple quotes.

2) List: A list object is an ordered collection of one or more data items, not necessarily of the same type, put in square brackets.

3) Tuple: A Tuple object is an ordered collection of one or more data items, not necessarily of the same type, put in parentheses.

#### Q4 - An Expression is made up of combination of values , variables , operators, and calls to function. expressions evaluate the value based on combinations and operators , return and yield the value .
example - x = 4+2+3*2

#### Q5 - Statements represent an action or command e.g print statements, assignment statements.  Expression is a combination of variables, operations and values that yields a result value. An expression is something that can be reduced to a value, for example "1+3" or "foo = 1+3"

 #### Q6 -  bacon = 22 , bacon +1 , so  now bacon will be 23

#### Q7 -

In [1]:
"spam"+ "spamspam"

'spamspamspam'

In [2]:
"spam"*3

'spamspamspam'

#### Q8 - 
Variable names may contain letters, digits (0-9) or the underscore character _.
Variable names must begin with a letter from A-Z or the underscore _ character. Either lowercase or uppercase letters are acceptable.
Variable names may not be a reserved word in Python.
accroding to this rules eggs is valid variable name hence 100 is invalid.

#### Q9  - to convert into integer int() function , to convert into string str( )  and to convert into float number float( ) function is used

In [5]:
str(99)
int(4.0)
float(4)

4.0

#### Q10 - " I have eaten" + 99 + "burritos"        in this statement number 99 is  not concate with string so firstly we have to convert into an string format so that it can be concate.

In [3]:
" I have eaten" + str(99) + "burritos"

' I have eaten99burritos'